<div class="grid grid--vertically-centered">
      <div class="grid__item grid__item--tablet-up-half grid__item--desktop-up-third grid__item--desktop-up-offset-1">
        <div class="section-heading section-heading--left">
          <h2 class="section-heading__heading heading--2">Lorem ipsum</h2>
          <p class="section-heading__subhead heading--3">Lorem ipsum</p>

          <p class="text-major">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        </p></br>
          <a class="marketing-button marketing-button--secondary marketing-button--small" href="https://shopify.com/online">Start</a>
</div></div>
      <div class="grid__item grid__item--tablet-up-half grid__item--desktop-up-offset-1">
        <span class="image lazyload-image" style="max-width: 1300px; max-height: 1014px;"><span class="lazyload-image__placeholder" style="padding-bottom: 78.000%"><img data-sizes="100vw" data-srcset="./lorem_square.jpg" alt="" class=" lazyloaded" sizes="100vw" srcset="./lorem_square.jpg"></span></span>
</div></div>