<ul class="marketing-nav__items display--desktop">
  <li>
    <div class="js-popover popover-wrapper" data-position="bottom">
      <li>
        <a class="marketing-nav__item marketing-nav__item--primary" itemprop="name" href="https://shopify.com/" data-ga-event="Main Nav" data-ga-action="Example">First</a>
      </li>
      <li>
        <a class="marketing-nav__item marketing-nav__item--primary active" itemprop="name" href="https://shopify.com/blog" data-ga-event="Main Nav" data-ga-action="Blog">Second</a>
        <li>
          <a class="marketing-nav__item marketing-nav__item--primary active" itemprop="name" href="https://shopify.com/blog" data-ga-event="Main Nav" data-ga-action="Blog">Third</a>
        </li>
      </div>
    </li>
</ul>