<div class="grid grid--social-proof">
      <div class="grid__item grid__item--tablet-up-third">
        <blockquote class="social-proof__quote quote-1 social-proof__quote--tattly">
          <p class="social-proof__quote-text text-major color-ink-lighter gutter-bottom">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
</p>

          <div class="social-proof__author text-center color-white">
            <span class="image lazyload-image social-proof__image" style="max-width: 80px; max-height: 80px;"><span class="lazyload-image__placeholder" style="padding-bottom: 100.000%"><img data-sizes="100vw" data-srcset="socialproofprofile.png" alt="" class=" lazyloaded" sizes="100vw" srcset="socialproofprofile.png"></span></span>
            <cite>
              <p class="social-proof__author-name text-major gutter-bottom--reset">First Last</p>
              <p>Role, Company</p>
            </cite>
          </div>
        </blockquote>
</div>      <div class="grid__item grid__item--tablet-up-third">
        <blockquote class="social-proof__quote quote-2 social-proof__quote--biko">
          <p class="social-proof__quote-text text-major color-ink-lighter gutter-bottom">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
</p>

          <div class="social-proof__author text-center color-white">
             <span class="image lazyload-image social-proof__image" style="max-width: 80px; max-height: 80px;"><span class="lazyload-image__placeholder" style="padding-bottom: 100.000%"><img data-sizes="100vw" data-srcset="socialproofprofile.png" alt="" class=" lazyloaded" sizes="100vw" srcset="socialproofprofile.png"></span></span>
            <cite>
              <p class="social-proof__author-name text-major gutter-bottom--reset">First Last</p>
              <p>Role, Company</p>
            </cite>
          </div>
        </blockquote>
</div>      <div class="grid__item grid__item--tablet-up-third">
        <blockquote class="social-proof__quote quote-3 social-proof__quote--mindzai">
          <p class="social-proof__quote-text text-major color-ink-lighter gutter-bottom">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
</p>

          <div class="social-proof__author text-center color-white">
             <span class="image lazyload-image social-proof__image" style="max-width: 80px; max-height: 80px;"><span class="lazyload-image__placeholder" style="padding-bottom: 100.000%"><img data-sizes="100vw" data-srcset="socialproofprofile.png" alt="" class=" lazyloaded" sizes="100vw" srcset="socialproofprofile.png"></span></span>
            <cite>
              <p class="social-proof__author-name text-major gutter-bottom--reset">First Last</p>
              <p>Role, Company</p>
            </cite>
          </div>
        </blockquote>
</div></div>